<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="team.css">
</head>
<body>
  <div class="card">
    <div class="wrapper">
      <img class="back-warrior" src="https://th.bing.com/th/id/OIG4.4poibomOslzmPBx1wtGs?pid=ImgGn">
    </div>
    <p class="title">WARRIOR</p>
    <img class="front-warrior" src="https://i.pinimg.com/originals/4b/33/2f/4b332fc410635517504293cd860d6038.png">
  </div>
  
</body>
</html>