<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>How it works</title>
  <link rel="stylesheet" href="header.css">
</head>
<body>
  <!--Header-->
  <div class="header">
    <div class="header-left">
      <img src="EcoGuardian-logo.png" alt="Logo" class="EcoGuardian-logo">
      <div class="project-name">Eco-Guardian</div>
    </div>
    
    <div class="header-right">
      <a href="../../index.html" class="header-links"><div class="header-tags fly-up">Home</div></a>
      <a href="../../Components/about-us/our-story.html" class="header-links"><div class="header-tags fly-up">About Us</div></a>
      <a href="../how it works/how it works.html" class="header-links"><div class="header-tags fly-up">How it Works</div></a>
      <a href="../coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Reward</div></a>
      <a href="../coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Project</div></a>
      <!-- <a href="../coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Leaderboard</div></a> -->
      <a href="../login/registr.html" class="header-links"><div class="header-tags"><button class="login shadow-effect">Login</button></div></a>
    </div>
  </div>
</body>
</html>